main h1 {
    color: yellowgreen;
    text-align: center;
    font-size: 32px;
}

ul {
    color: white;
}

h2 {
    color: yellowgreen;
}

body {
    background-image: url(../imagenes/fonfon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

p {
    color: white;
    font-size: large;
}

div {
    color: white;
}

main {
    color: white;
}

section div a {
    background-color: white;
    border: solid 7px black;
    padding: 7px;
    margin: 5px;

}

header nav ul li a {
    display: flex;
    justify-content: space-around;

}

.div1 {
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    align-items: center;

}

section h2 {
    text-align: center;
}

.odin img a {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.familia {
    display: flex;
    justify-content: space-around;
    grid-template-columns: repeat(4, 1fr);
}

.thanos-guerreros {
    display: flex;
    justify-content: space-around;

}

.thanos {
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
}

.amistades {
    display: flex;
    justify-content: space-around;
}

.todocompleto {
    display: flex;
    flex-direction: column;
}

.avengers div img a{
    display: grid;
    justify-content: space-around
    ;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: none;
}

.icono {
    align-items: 80%;
}

.nav-link {
    color: purple;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (max-width: 420px) {}

footer iframe {
    max-width: 400px;
}

.div1 {
    display: flex;
    flex-direction: column;
    margin: 80px;

}

.thor1 {
    margin: 10px;
    border-radius: 10px;
}

.odin {
    display: flex;
    flex-direction: column;
}

.odin img {
    margin: auto;
}

.odin a {
    max-width: 100px;
    margin: auto;
}

.vengadores {
    display: none;
}

.avengers {
    display: flex;
    flex-direction: column;
}

.avengers img {
    margin: auto;
}




section a {
    background-color: white;
    border: solid 7px black;
    padding: 7px;
    margin: auto;
    max-width: 100px;
}

.odin-asgard {
    display: flex;
    flex-direction: column;
}

.frigga {
    display: flex;
    flex-direction: column;
}

.loki {
    display: flex;
    flex-direction: column;
}

.hela {
    display: flex;
    flex-direction: column;
}