main {
    color: $color;

    @media (max-width: 500px) {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    h1 {
        @extend %h1;
    }

    .p {
        @media (max-width: 500px) {
            max-width: 450px;
        }
    }

    .div1 {
        @media (max-width: 500px) {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: $sb;
            
        }

        @extend %div1;
    }

    h2 {
        @extend %h1;
    }

    .imagenes {
        @media (max-width: 500px) {
            display: flex;
            align-items: center;
            flex-direction: column;
            
        }
       @extend %influencias; 
    }

    .familia{
        padding-left: 500px;
       padding-right: 500px;
       padding-bottom: 30px;
    }

    .avengers {
        @media (max-width: 500px) {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
       padding-left: 500px;
       padding-right: 500px;
       padding-bottom: 30px;
    }
    .amistades{
        padding-left: 500px;
       padding-right: 500px;
       padding-bottom: 30px;
    }

    .thanos-guerreros {
        @media (max-width: 500px) {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        padding-left: 500px;
        padding-right: 500px;
        padding-bottom: 30px;
        
    }
    .btn {
        position: relative;
        display: block;
        height: 77px;
        width: 150px;
        border-radius: 4px;
        text-transform: uppercase;
        background-color: transparent;
        color: #fff;
        font-size: 18px;
        overflow: hidden;
        transition: all 500ms ease;
        border: 2px solid #20e2d7;
        margin-bottom: 40px;
        z-index: 0;
        font-weight: 700;
        cursor: pointer;
      }
      .btn::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        background-color: #20e2d7;
        transition: all 500ms ease;
        z-index: -1;
      }
      .btn--1::before {
        width: 0;
        height: 100%;
      }
      .btn--1:hover {
        color: #434343;
      }
      .btn--1:hover::before {
        width: 100%;
      }
      .btn--2:hover {
        background-color: #20e2d7;
        box-shadow: 0 0 10px #20e2d7, 0 0 20px #20e2d7, 0 0 20px #20e2d7;
        color: #434343;
      }
      .btn--3:hover {
        animation: shadow-pulse 1000ms 1;
        background-color: #20e2d7;
        color: #434343;
      }
      
      }
      
      @keyframes shadow-pulse {
        0% {
          box-shadow: 0 0 0 0 rgba(32, 226, 215, 0.6);
        }
        100% {
          box-shadow: 0 0 8px 16px rgba(32, 226, 215, 0);
        }
      }